---
layout: layout.liquid
css: './src/artworks/artworks.css'
pagination:
    data: collections.artworks
    size: 1
    alias: art
permalink: '/artworks/{{ pagination.pageNumber }}/index.html'
---

<h1>
    {{ art.data.title }}
    <small>{{ art.data.category | capitalize }} / {{ art.date | date: "%Y-%m-%d" }}</small>
</h1>

<img width="{{ art.data.width }}" height="{{ art.data.height }}" src="/images/artworks/{{ art.data.image }}" />